version: "3.1"

services:
  redis:
    image: redis:8.2-alpine
    command: redis-server --requirepass password
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "password", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  redis_data:
