version: '3'

services:
  redis:
    image: redis:8.2-alpine
    volumes:
      - redis_data:/data
    environment:
      - REDIS_USERNAME=root
      - REDIS_PASSWORD=password
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  redis_data:
